head, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}



.back {
    height: var(--vh);
    width: 100vw;
    background-color: #ffffff;
    position: relative;
}

.button_container {
    width: 100vw;
    height: calc(var(--vh) * 0.13);
    position: absolute;
    top: calc(var(--vh) * 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
}

.next_button {
    width: 40%;
    height: 33%;
    background-color: #DDDDDD;
    font-size: calc(var(--vh) * 0.021);
    border: transparent;
    color: #ffffff;
    border-radius: 5vw;
    transition: background-color 1s;
}

.next_button.can_press {
    background-color: black;
}

.put_to_center {
    position: relative;
    display: flex;
    flex-direction: column; /* Расположение по вертикали */
    justify-content: center; /* Равномерное распределение */
    align-items: center;
    height: calc(var(--vh) * 0.13); /* Сделай повыше, чтобы видеть эффект */
    top: calc(var(--vh) * 0.15);
    width: 100vw;
}

input[type="file"]:focus,
input[type="file"]:active {
  outline: none;
  box-shadow: none;
}



input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

input {
  outline: none;
  box-shadow: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column; /* Расположение по вертикали */
    justify-content: space-between; /* Равномерное распределение */
    align-items: center; /* Центрирование по горизонтали (можно убрать) */
}

.otziv {
    width: 100%;
    text-align: start;
    font-weight: 600;
    padding-bottom: calc(var(--vh) * 0.013);
}

.review_input {
    resize: none; /* ❌ нельзя изменять вручную */
    background-color: black;
    color: white;
    line-height: 1.4;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: calc(var(--vh) * 0.013);
    padding-top: calc(var(--vh) * 0.013);
    height: calc(var(--vh) * 0.033);
    width: 96%;
    border-radius: 15px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: calc(var(--vh) * 0.019);
}

.hint {
    text-align: start;
    font-size: calc(var(--vh) * 0.019);
    font-weight: 100;
    width: 100%;
    color: #A2A2A2;
}

.star_and_count {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review_stars_caontainer {
    padding-top: calc(var(--vh) * 0.019);;
    width: 90vw;
    display: flex;
    align-items: center;
}

.rating {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.2vw;
}

.rating span {
  outline: none;
  -webkit-tap-highlight-color: transparent; /* для мобилки */
}


.rating span {
  outline: none;
  user-select: none;
}

.rating span:focus {
  outline: none;
}

.rating span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    outline: none;
    font-size: calc(var(--vh) * 0.05);
    color: lightgray;
    cursor: pointer;
    transition: color 0.2s;
    text-align: center;
}

.rating span.active,
.rating span.hover {
    color: black;
    align-items: center;
}

.rating-value {
    position: relative;
    width: 100%;
    padding-left: 5vw;
    font-size: calc(var(--vh) * 0.06);
    display: flex;
    font-weight: bold;
}

.hint.second {
    position: relative;
    left: 5vw;
}

.first_phase {
    top: calc(var(--vh) * 0.06);
    position: absolute;
}

.first_phase.animate-up {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.second_phase {
    position: absolute;
    top: calc(var(--vh) * 0.08);
    opacity: 0;
    transform: translateY(20px); /* для плавного появления снизу */
    transition: opacity 0.6s ease, transform 0.6s ease;
    width: 100vw;
    flex-direction: column;
    height: calc(var(--vh) * 0.3);
    pointer-events: none; /* чтобы нельзя было взаимодействовать, пока невидим */
}

.second_phase.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    align-items: center;
}


.photo_text {
    font-weight: 600;
    padding-bottom: calc(var(--vh) * 0.02);
    font-size: calc(var(--vh) * 0.03);
}

.second_phase_container {
    width: 90vw;
}

.photos_block {
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: flex;
    gap: 2px;
}

.small_column {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
}

.photo {
    background-color: black;
    color: white;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: calc(var(--vh) * 0.5);
    background-color: #000;
}

.large {
    border-top-left-radius: calc(var(--vh) * 0.02);
    border-bottom-left-radius: calc(var(--vh) * 0.02);
    width: 49%;
}

.small {
    flex: 1;
}

.small.first {
    border-top-right-radius: calc(var(--vh) * 0.02);
}

.small.second {
    border-bottom-right-radius: calc(var(--vh) * 0.02);
}

.photo_hint {
    width: 80%;
    color: #A2A2A2;
    padding-top: calc(var(--vh) * 0.02);
    font-size: calc(var(--vh) * 0.02);
    font-weight: 300;
}