head, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}



.back {
    opacity: 0;
    height: var(--vh);
    width: 100vw;
    background-color: #ffffff;
    position: relative;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.back.show {
    opacity: 1;
}

.white_back {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    max-width: 70vw;
}

.profile_infos {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(var(--vh) * 0.13);
    justify-content: center;
}

.product_name {
    font-weight: 600;
    padding-left: 1vw;
    white-space: nowrap;          /* Текст в одну строку */
    overflow: hidden;             /* Скрыть лишний текст */
    text-overflow: ellipsis;      /* Добавить троеточие */
    max-width: 80%;               /* Задай подходящую ширину, чтобы ограничить текст */
         /* Задай подходящую ширину, чтобы ограничить текст */
}

.product_profile_container {
    position: relative;
    height: calc(var(--vh) * 0.13);
    width: 100vw;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.profile_star {
    height: calc(var(--vh) * 0.04);
}


.product_review {
    font-weight: 600;
    font-size: calc(var(--vh) * 0.05);
    padding-right: 2vw;
}

.product_underline {
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #c6c6c6;
    bottom: 0;
}

.reviews_container {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(var(--vh) * 0.74);
}

.review {
    padding-top: calc(var(--vh) * 0.02);
    width: 85vw;
    display: flex;
    flex-direction: column;
    padding-bottom: calc(var(--vh) * 0.02);
}

.us_and_date_container {
    position: relative;
    width: 100%;
    height: calc(var(--vh) * 0.04);
    padding-bottom: calc(var(--vh) * 0.017);
}

.us_and_date {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.texts {
    width: 100%;
}

.us {
    font-size: calc(var(--vh) * 0.022);
}

.date {
    padding-left: 2.5vw;
    color: #c6c6c6;
    font-weight: 300;
    font-size: calc(var(--vh) * 0.02);
}

.review_container {
    display: flex;
    color: #5f5f5f;
    width: 100%;
    font-size: calc(var(--vh) * 0.02);
}

.review_text {
    width: 80%;
    white-space: normal;
    word-wrap: break-word;
    padding-bottom: calc(var(--vh) * 0.02);
}

.for_right_side {
    width: 90%;
    height: 150%;
    display: flex;
    align-items: start;
    justify-content: end;
}

.star_and_count {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.black_star_review {
    position: relative;
    height: calc(var(--vh) * 0.04);
    width: calc(var(--vh) * 0.04);
}

.count {
    font-size: calc(var(--vh) * 0.04);
    text-align: center;
}

.underline {
    position: relative;
    width: 70%;
    height: 1px;
    background-color: #5f5f5f;
    left: 15%;
    bottom: calc(var(--vh) * -0.02);
}

.text_and_star {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* добавляем это */
    align-items: flex-start; /* выравнивание по верхнему краю */
}


.create_review_container {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: calc(var(--vh) * 0.13);
}

.create_review_btn {
    background-color: transparent;
    border-color: transparent;
    width: 30vw;
    height: 100%;
    z-index: 10;
}

.create_review_btn_img {
    height: calc(var(--vh) * 0.06);
}

.review_photo {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    margin-right: 8px;
    border-radius: 8px;
}
.photos_container {
    display: flex;
    margin-top: calc(var(--vh) * 0.02);
    gap: 8px;
}


.upline {
    width: 100vw;
    height: 1px;
    background-color: #5f5f5f;
    z-index: 100;
}

.upline_container {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
} 


  #fullscreen_photo_container {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
  }

  #fullscreen_photo_container.fullscreen_visible {
    opacity: 1;
    pointer-events: auto;
}

#fullscreen_photo {
    max-width: 90vw;
    max-height: 90vh;
    box-shadow: 0 0 20px white;
    /* border-radius: 5%; */
}

.copy_link_btn {
    height: 100%;
    width: 40%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    z-index: 4;
    background-color: transparent;
}

.copy_link_img {
    height: 50%;
    padding-right: 10%;
}

.copy_text {
    font-weight: 700;
    font-size: calc(var(--vh) * 0.02);
}