head, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}


.back {
    height: var(--vh);
    width: 100vw;
    background-color: #ffffff;
    position: relative;
}

.first_phase {
    position: absolute;
}

.for_center_container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container {
    width: 90vw;
    top: calc(var(--vh) * 0.15);
    position: relative;
}

.choose_text {
    font-size: calc(var(--vh) * 0.03);
    font-weight: 600;
    margin-bottom: calc(var(--vh) * 0.03);
}

.select_type {
    outline: none;
    border: 0.5px solid black;
    background-color: #DEDEDE;
    width: 100%;
    height: calc(var(--vh) * 0.046);
    border-radius: 10px;
    padding-left: 2%;
    margin-bottom: calc(var(--vh) * 0.06);
}

.input-label {
    font-weight: bold;
    display: block;
    margin-bottom: calc(var(--vh) * 0.01);
    font-weight: 300;
    font-size: calc(var(--vh) * 0.02);
}

.username_input {
    width: 100%;
    border: 0.5px solid black;
    height: calc(var(--vh) * 0.05);
    border-radius: 10px;
    padding-left: 4%;
    background-color: #DEDEDE;
    font-size: calc(var(--vh) * 0.018);
    color: black;
    outline: none;
    box-sizing: border-box;
}

.username_input::placeholder {
    color: #888;
}

.hint-text {
    margin-top: calc(var(--vh) * 0.01);
    font-size: 12px;
    color: #A2A2A2;
    font-family: var(--font-family);
}

.next_btn_container {
    position: relative;
    top: calc(var(--vh) * 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--vh) * 0.2);
}

.next_button {
    width: 40%;
    height: 20%;
    background-color: #DDDDDD;
    font-size: calc(var(--vh) * 0.021);
    border: transparent;
    color: #ffffff;
    border-radius: 5vw;
    transition: background-color 1s;
}

.next_button.enabled {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Скрываем вторую фазу по умолчанию */
.second_phase {
    position: absolute;
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
    transition: all 0.5s ease;
    top: calc(var(--vh) * 0.4);
}

/* Показываем вторую фазу */
.second_phase.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

/* Анимируем исчезновение первой фазы */
.first_phase.hide {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.5s ease;
    pointer-events: none;
}

/* Центровка и оформление */
.question {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
}

.for_center_container.second {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ten_nim_hint {
    text-align: center;
    color: gray;
    margin-top: 10px;
    font-size: max(calc(var(--vh) * 0.017), px);
}
